header {
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: row;
}

a {
  color: rgb(18, 182, 223);
  text-decoration-line:none;
}
a:hover {
  text-decoration-line:underline;
}

.contact {
  font-size: 1.2rem;
  /* position: absolute; */
  /* top: 20px; */
  transform: translate(0, 0);
  width: 100%;
}

#addresse-mail {
  margin-left: 230px;
  font-size: 1.6rem;
}

.titre {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 40%;
}
.titre h1 {
  font-family: "Helvetica", sans-serif, "google";
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0;
}

#addresse {
  position: absolute;
  top: 20px;
  right: 12%;
  font-size: 1.6rem;
}

#addresse p {
  margin: 0;
}

.insta {
  position: absolute;
  top: 20px;
  right: 20px;
  /* background-color: gray; */
}

#logo-insta {
  width: 50px;
  height: 50px;
}
/* Add margin-top to create space between header and body */
body {
  /* margin-top: 200px; Adjust the value as needed */
  background-color: rgba(136, 46, 118, 0.198);
}

.container {
  margin: 250px auto; /* Center the element horizontally */
  display: flex;
  flex-direction: row;
  width: 90%;
  /* background-color: lime; */
  font-family: "Quicksand", sans-serif, "google";
}

.col-1 {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.col-2 {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.panel {
  display: flex;
  /* border: 1px solid rgba(39, 39, 39, 0.719); */
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.3);
  padding:0px;
  margin:10px;
  border-radius:10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 100%;
}

.panel img {
  /* Set the width and height of the image */
  width: 200px; /* Adjust the value as needed */
  height: 200px; /* Adjust the value as needed */
  border-radius: 10px 0px 0px 10px;
}

#logo {
  max-width: 398px;
  width: 100%;
}
