header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
}
.titre {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}
.insta {
    position: absolute;
    top: 20px;
    right: 20px;
}

#logo-insta{
    width: 50px;
    height: 50px;
}
/* Add margin-top to create space between header and body */
body {
    margin-top: 200px; /* Adjust the value as needed */
}

#grid {
    margin: 250px auto; /* Center the element horizontally */
    display: grid;
    width: 65%;
    grid-template-columns: auto auto;
    background-color: lime;
}

#sous-grid {
    display: grid;
    width: 100%;
    grid-template-columns: auto 1fr; /* Modified to place img at left and para at right */
}
#sous-grid img {
    /* Set the width and height of the image */
    width: 120px; /* Adjust the value as needed */
    height: 120px; /* Adjust the value as needed */
}
